<div class="container-fluid client py-lg-5">
  <div class="container">
    <div id="clientsay" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="comment text-center">
            <img src="../../../assets/images/comment.png" alt="">
            <h6>CLIENTS SAY ABOUT US</h6>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
              veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              <img src="../../../assets/images/testi-1.png" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="comment text-center">
            <img src="../../../assets/images/comment.png" alt="">
            <h6>CLIENTS SAY ABOUT US</h6>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
              veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              <img src="../../../assets/images/testi-1.png" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="comment text-center">
            <img src="../../../assets/images/comment.png" alt="">
            <h6>CLIENTS SAY ABOUT US</h6>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
              veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              <img src="../../../assets/images/testi-1.png" alt="">
          </div>
        </div>
      </div>
      <!-- <a class="carousel-control-prev" href="#clientsay" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="sr-only">Previous</span>
      </a> -->
      <div class="fromtoprevdiv">
        <a href="#clientsay" data-slide="prev">
          <i class="fas fa-arrow-left"></i>
        </a>
      </div>
      <div class="fromtonextdiv">
        <a href="#clientsay" data-slide="next">
          <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>