<div class="latest container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 text-left">
        <img src="../../../assets/images/sep-icon.png" alt="">
        <span>LATEST NEWS AND TIPS</span>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 text-right">
        <button>VIEW ALL</button>
      </div>
    </div>
    <div class="row text-center pad-pad">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="blogdiv">
          <div class="box-1 text-left">
            <a href="#">12 TIPS TO CLEAN WINDOW</a>
            <p class="link-p">BY <a href="#">ADMIN</a> LIKES <a href="#">23</a></p>
            <p class="only-p">Neque porro quisquam est, qui thas dolorem ipsum quia dolor sit amets non numquam[...]
            </p>
            <button class="mt-4 ohno">READ MORE</button>
          </div>
          <div class="box-2 w-50 position-relative">
            <img src="../../../assets/images/blog-1.png" alt="">
            <div class="absolute-message">
              <p class="message"><i class="far fa-comment-alt"></i></p>
              <p class="message-date"> 10 APR</p>
            </div>
          </div>
          <div class="clear-both"></div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 bg-light">
        <div class="blogdiv">
          <div class="box-1 text-left">
            <a href="#">12 TIPS TO CLEAN WINDOW</a>
            <p class="link-p">BY <a href="#">ADMIN</a> LIKES <a href="#">23</a></p>
            <p class="only-p">Neque porro quisquam est, qui thas dolorem ipsum quia dolor sit amets non numquam[...]
            </p>
            <button class="mt-4 ohno">READ MORE</button>
          </div>
          <div class="box-2 w-50 position-relative">
            <img src="../../../assets/images/blog-2.png" alt="">
            <div class="absolute-message">
              <p class="message"><i class="far fa-comment-alt"></i></p>
              <p class="message-date"> 10 APR</p>
            </div>
          </div>
          <div class="clear-both"></div>
        </div>
      </div>
    </div>
  </div>
</div>