<div class="container-fluid statistic">

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <img src="../../../assets/images/satisfied-customer.png" alt="">
        <span class="forValue" id="value1">3300</span>
        <hr>
        <img src="../../../assets/images/brush.png" alt="">
        <p>SATISFIED CUSTOMERS</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <img src="../../../assets/images/building.png" alt="">
        <span class="forValue">4000</span>
        <hr>
        <img src="../../../assets/images/brush.png" alt="">
        <p>BUILDING CLEANED</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <img src="../../../assets/images/clever-employee.png" alt="">
        <span class="forValue">1223</span>
        <hr style="color:transparent;margin:0px !important;">
        <img src="../../../assets/images/brush.png" alt="">
        <p>CLEVER EMPLOYEES</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <img src="../../../assets/images/office.png" alt="">
        <span class="forValue">25</span>
        <hr style="color:transparent;margin:0px !important;">
        <img src="../../../assets/images/brush.png" alt="">
        <p>OFFICE S WORLD WIDE</p>
      </div>
    </div>
  </div>
</div>