<div class="services-section container-fluid">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="bef-af">
        <h5>SERVICES DETAILS</h5>
      </div>
      <p>HOME / SERVICES / DETAILS</p>
    </div>
  </div>
</div>
<div class="details container-fluid">
  <div class="container">
    <div class="row py-lg-5">
      <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="provided">
          <h5>SERVICE PROVIDED</h5>
          <ul>
            <li *ngFor="let li of links"><i class="fas fa-long-arrow-alt-right"></i> <a href="">{{li}}</a></li>
          </ul>
          <span class="d-block">MORE INFORMATION</span>
          <p>123 Cleaning Company,<br>

            New Street CA 7854, Park Avenue <br>

            Sydney 25.</p>
          <h6>+(01) 800 527 4800</h6>
          <a href="" class="d-block">Makeclean@example.com</a>
        </div>
      </div>
      <div class="col-lg-9 col-md-12 col-sm-12 provided-right">
        <h4>WINDOWS CLEANING</h4>
        <img src="../../../assets/images/services-details-1.jpg" class="img-fluid" alt="">
        <p class="aspernatur">Aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          Neque porro quis quaml est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
          numquam eius modi tempora incidunt ut labore etas dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
          veniam, quis nostrum exercitationem ullam corporis suscipit labo mair osam, nisi ut aliquid ex ea commodi
          consequatur.</p>
        <div class="row service-header">
          <div class="col-lg-6 col-md-12">
            <img src="../../../assets/images/services-details-2.jpg" alt="">
            <header>Quidem rerum facilis est et expedita distinctio</header>
            <p>Voluptatem sequi nesciunt. Neque porro quis quaml est, quilas dolorem ipsum quia dolor sit amet,
              consectetur, adipisci velitar sed quia non numquam eius modi tempora.</p>
          </div>
          <div class="col-lg-6 col-md-12">
            <img src="../../../assets/images/services-details-3.jpg" alt="">
            <header>Quidem rerum facilis est et expedita distinctio</header>
            <p>Voluptatem sequi nesciunt. Neque porro quis quaml est, quilas dolorem ipsum quia dolor sit amet,
              consectetur, adipisci velitar sed quia non numquam eius modi tempora.</p>
          </div>
        </div>
        <footer>
          <button>Schedule your window cleaning estimate today!</button>
        </footer>
      </div>
    </div>
  </div>
</div>