 .buy-contact-us{
     text-align: center;
     padding: 50px 0px;
     h5{
         color: #2196f3;
         font-size: 25px;
         font-weight: 600;
     }
     #center{
         color: #777;
         padding: 0px 20%;
     }  
     p:last-child{
         margin-bottom: 0px; 
     }
     button{
        font-size: 14px;
        background: transparent;
        border:2px solid #2196f3;
        padding: 4px 12px;
        font-weight: 400;
        cursor: pointer;
        box-shadow:0 4px 0 rgba(33,150,243,0.25);
        transition: 0.5s ease-in-out;
        font-weight: 600;
        margin: 0px 10px;
    }
    button:hover{
        border: 2px solid #f3e721;
        box-shadow: 0 4px 0 #f3e721;
    }
 }