<div class="welcome container text-left">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <img src="../../assets/images/welcome-img.png" alt="">
    </div>
    <div class="col-lg-8">
      <h4>WELCOME TO OUR MAKE CLEAN</h4>
      <img src="../../assets/images/supurge.png" alt="">
      <p class="information">Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
        vitae dicta sunt
        explicabo. Nemo eni sai th ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
        consequuntur magni dolores eos qui ratione kavosvo uptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
        ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
        labore</p>
      <button>ABOUTE MORE</button>
      <button>WORKERS</button>
      <div class="row">
        <div class="col-lg-4 col-md-8 col-sm-12">
          <img src="../../assets/images/high-trained-staff.png" alt="">
          <h5>HIGHLY-TRAINED STAFF</h5>
          <p>Beatae vitae dicta sunt explicabonie seni sai th ipsam voluptatem.</p>
        </div>
        <div class="col-lg-4">
          <img src="../../assets/images/quality-cleaning-staff.png" alt="">
          <h5>QULAITY CLEANING TOOLS</h5>
          <p>Beatae vitae dicta sunt explicabonie seni sai th ipsam voluptatem.</p>
        </div>
        <div class="col-lg-4">
          <img src="../../assets/images/fast-service.png" alt="">
          <h5>FAST & EFFECTIVE SERVICE</h5>
          <p>Beatae vitae dicta sunt explicabonie seni sai th ipsam voluptatem.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-slick></app-slick> -->

